* {
    margin: 0;
    padding: 0;
}

div#container {
    margin: 25px auto;
    background-color: rgb(247, 247, 247);
    text-align: center;

    > div {
        font-size: 100px;

    }

    > input#user-input{
        width: 250px;
        height: 50px;
        border-radius: 10px;
        font-size: 30px;

    }

    > div.user-submit{
        display: inline-block;
        margin: 15px;
        border-radius: 10%;
        height: 40px;
        width: 70px;
        font-size: 40px;
        transition: all 1s;
        user-select: none;

        &:hover {
           transform: scale(1.2);

        }
    }
}